:host{
  position:relative;
}
div {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--light-grey);
  margin-right: 6px;
  height: 58px;
}
p {
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--text-color);
}
.key-large>p{
  font-size: 0.75em;
}
.key-small>p{
  font-size: 1.25em;
}
.key-large{
  min-width: 40px;
  max-width: 70px;
  width: 13vw;
}
.key-small{
  min-width: 17.8333333px;
  max-width: 44px;
  width: 8.5vw;
}