<div class="keyboard-row">
    <app-keyboard-button></app-keyboard-button>
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
</div>
<div class="keyboard-row">
    <app-keyboard-button></app-keyboard-button>
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
</div>
<div class="keyboard-row">
    <app-keyboard-button></app-keyboard-button>
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
    <app-keyboard-button></app-keyboard-button> 
</div>