:host {
  display: block;
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 484px;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right:auto;
}