<div class="keyboard-row">
    <app-keyboard-button [label]="'A'"></app-keyboard-button>
    <app-keyboard-button [label]="'Z'"></app-keyboard-button> 
    <app-keyboard-button [label]="'E'"></app-keyboard-button> 
    <app-keyboard-button [label]="'R'"></app-keyboard-button> 
    <app-keyboard-button [label]="'T'"></app-keyboard-button> 
    <app-keyboard-button [label]="'Y'"></app-keyboard-button> 
    <app-keyboard-button [label]="'U'"></app-keyboard-button> 
    <app-keyboard-button [label]="'I'"></app-keyboard-button> 
    <app-keyboard-button [label]="'O'"></app-keyboard-button> 
    <app-keyboard-button [label]="'P'"></app-keyboard-button> 
</div>
<div class="keyboard-row">
    <app-keyboard-button [label]="'Q'"></app-keyboard-button>
    <app-keyboard-button [label]="'S'"></app-keyboard-button> 
    <app-keyboard-button [label]="'D'"></app-keyboard-button> 
    <app-keyboard-button [label]="'F'"></app-keyboard-button> 
    <app-keyboard-button [label]="'G'"></app-keyboard-button> 
    <app-keyboard-button [label]="'H'"></app-keyboard-button> 
    <app-keyboard-button [label]="'J'"></app-keyboard-button> 
    <app-keyboard-button [label]="'K'"></app-keyboard-button> 
    <app-keyboard-button [label]="'L'"></app-keyboard-button> 
    <app-keyboard-button [label]="'M'"></app-keyboard-button> 
</div>
<div class="keyboard-row">
    <app-keyboard-button [label]="'ENTER'" [largeKey]="true"></app-keyboard-button>
    <app-keyboard-button [label]="'W'"></app-keyboard-button>
    <app-keyboard-button [label]="'X'"></app-keyboard-button> 
    <app-keyboard-button [label]="'C'"></app-keyboard-button> 
    <app-keyboard-button [label]="'V'"></app-keyboard-button> 
    <app-keyboard-button [label]="'B'"></app-keyboard-button> 
    <app-keyboard-button [label]="'N'"></app-keyboard-button> 
    <app-keyboard-button [label]="'DELETE'" [largeKey]="true"></app-keyboard-button>
</div>