:host {
  display: flex;
  align-items: center;
  width: calc(100vw - 32px);
  height: 65px;
  background-color: var(--background-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--dark-grey);
  /* justify-content: flex-start; */
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
}
.header-icon{
  height:24px;
  width:20px;
  padding:8px 4px 4px;
}

#header-menu {
  display:flex;
  justify-content: flex-start;
  padding-right:8px;
}
div {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}

/* #header-buttons {
  justify-content: flex-end;
  flex-grow: 2;
} */
#menu-icon{
  justify-content: flex-start;
  height: 30px;
  fill: white;
}
#logo {
  flex-grow: 2;
  left: 0;
  right: 0;
  position: relative;
  font-size:28px;
  text-align:left;
  font-family:'Times New Roman', Times, serif;
}
#subscribe-button {
  margin-left: 10px;
  height: 27px;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 22px;
  font-weight: 500;
  line-height: 18px;
  text-wrap:nowrap;
}


@media (min-width: 1080px){
  .header-side{
    display:flex;
    align-items: center;  
    width: 350px;
  }
}