<div id="header-menu" class="header-side">
    <app-bars-icon id="menu-icon" class="header-icon"></app-bars-icon>
</div>
<div id="logo">Wordle</div>
<div id="header-buttons" class="header-side">
    <app-question-icon id="how-to-icon" class="header-icon"></app-question-icon>
    <app-rankings-icon id="past-results-icon" class="header-icon"></app-rankings-icon>
    <app-gears-icon id="settings-icon" class="header-icon"></app-gears-icon>
    <button id="subscribe-button">Subscribe to Games</button>
</div>