:host {
  width: calc(100vw - 32px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: var(--background-color);
  border-bottom: solid 1px var(--dark-grey);
  padding: 0 16px;
}
.header-icon{
  height:24px;
  width:20px;
  padding:8px 4px 4px;
}

#header-menu {
  display:flex;
  justify-content: flex-start;
  padding-right:8px;
}

#menu-icon{
  justify-content: flex-start;
  height: 30px;
  fill: white;
}
#logo {
  flex-grow: 2;
  text-align:left;
  color: var(--text-color);
  font-size: 20px;
  font-family: Bevan-Regular, sans-serif;
  font-stretch: condensed;

  /* TODO change font to KARNAK */
}
#subscribe-button {
  margin-left: 10px;
  height: 27px;
  border-radius: 9999px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 22px;
  font-weight: 500;
  line-height: 18px;
  text-wrap:nowrap;
}


@media (min-width: 768px){
  .header-side{
    display:flex;
    align-items: center;  
    width: 350px;
    text-align:center;
  }
  #header-buttons {
    justify-content: flex-end;
    flex-grow: 1;
  }
  #logo {
    font-size: 24px;
  }
}
@media (min-width: 415px){
  :host{
    height: 65px;
  }
}