:host{
  position:relative;
}
div {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--light-grey);
  margin-right: 6px;
  height: 58px;
  width: 43px;
}
p {
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.25em;
  color: var(--text-color);
}
div:hover{
  cursor:pointer;
}
.key-wrong{
  background-color: var(--dark-grey);
}
.key-right-word{
  background-color: var(--right-letter-color);
}
.key-right-position{
  background-color: var(--right-position-color);
}
.key-large{
  width: 70px;
}