:host{
  position:relative;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: var(--light-grey);
  margin: 5px;
  padding-top: 5px;
  padding-left: 2px;
  height: 40px;
  width: 30px;
}
p {
  display: block;
  margin: 0;
  width: 15px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}
div:hover{
  cursor:pointer;
}