
<!-- TODO create pipe for styles -->
<div
    [style.background-color]="guess().at(5 * indexW + indexL)?.value == 3 ? 'var(--right-position-color)' : guess().at(5 * indexW + indexL)?.value == 2 ? 'var(--right-letter-color)' : guess().at(5 * indexW + indexL)?.value == 1 ? 'var(--dark-grey)' : 
    'var(--background-color)'"
    [style.border-color]="guess().at(5 * indexW + indexL)?.value == 3 ? 'var(--right-position-color)' : guess().at(5 * indexW + indexL)?.value == 2 ? 'var(--right-letter-color)' : 'var(--dark-grey)'">
    <p>
        {{guess().at(5 * indexW + indexL)?.guess}}
    </p>
</div>

