<div [@onInvalidWord]="(validityState$|async)" class="flex-container" >
    <app-guess-tile [wordIndex]="wordIndex" [tileIndex]="0" [delay]="0"></app-guess-tile>
    <app-guess-tile [wordIndex]="wordIndex" [tileIndex]="1" [delay]="100"></app-guess-tile>
    <app-guess-tile [wordIndex]="wordIndex" [tileIndex]="2" [delay]="200"></app-guess-tile>
    <app-guess-tile [wordIndex]="wordIndex" [tileIndex]="3" [delay]="300"></app-guess-tile>
    <app-guess-tile [wordIndex]="wordIndex" [tileIndex]="4" [delay]="400"></app-guess-tile>
</div>
