
#wrapper{
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: calc(100vh - 215px);
    width: 100%;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#guess-container{
    flex-grow:1;
    display:flex;
    align-items: center;
    justify-content: center;
}
