div {
  display: block;
  border: solid 2px var(--dark-grey);
  background-color: var(--background-color);
  height: 15vw;
  width: 15vw;
  max-height: 58px;
  max-width: 58px;
  position: relative;
}
p {
  color: var(--text-color);
  text-align:center;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding-top: 5px;
  height:100%;
  align-items: center;
  justify-content: center;
}