:root{
    --dark-grey: rgb(58,58,60);
    --background-color: rgb(18,18,19);
    --text-color: rgb(248,248,248); 
    --light-grey: rgb(129,131,132);
    --border-filled: rgb(86,87,88);
    --right-letter-color: rgb(181,159,59);
    --right-position-color: rgb(83,141,78);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --keyboard-height: 186px;
    --header-height: 40px;
    --matrix-height:340px;
    --matrix-width:280px;
    --game-max-width:500px;
    /* --matrix-height: calc(100vh - var(--header-height) - var(--keyboard-height) - 20px); */
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-y: unset;
}
.flex-container{
    display:flex;
}
.flex-direction-column{
    flex-direction: column;
}
.clickable {
    cursor: pointer;
}
@font-face{
    font-family: Bevan-Regular;
    src: url("/assets/fonts/Bevan-Regular.ttf") format("truetype");
}
@media(min-width:415px){
    :root{
        --header-height:65px;
    }
}